.List {
  .OperationButton {
    // border: 1px solid blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid red;
    .OperationButton-left {
      Button {
        margin-left: 20px;
      }
    }

    .OperationButton-right {
      margin-right: 20px;
      ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border: 1px solid blue;
        width: 200px;
        height: 50px;
        padding: 20px 10px;
        // margin-right: 10px;
        li {
        }
      }
    }
  }
}
