.GoodsNav {
  display: flex;
  height: 100vh;
  .menu {
    height: 100vh;
    margin-right: 20px;
    Menu {
      height: 100vh;
    }
  }
  .main-goods {
    width: 100%;
    background-color: #ffff;
  }
}
